In [2]:
import pandas as pd
df=pd.read_csv('data/loan_train_cleaning.csv')
df.head().T

                        0       1       2       3       4
Loan_ID               0.0     1.0     2.0     3.0     4.0
Gender                1.0     1.0     1.0     1.0     1.0
Married               0.0     1.0     1.0     1.0     0.0
Dependents            0.0     1.0     0.0     0.0     0.0
Education             0.0     0.0     0.0     1.0     0.0
Self_Employed         0.0     0.0     1.0     0.0     0.0
ApplicantIncome    5849.0  4583.0  3000.0  2583.0  6000.0
CoapplicantIncome     0.0  1508.0     0.0  2358.0     0.0
LoanAmount          128.0   128.0    66.0   120.0   141.0
Loan_Amount_Term    360.0   360.0   360.0   360.0   360.0
Credit_History        1.0     1.0     1.0     1.0     1.0
Property_Area         2.0     0.0     2.0     2.0     2.0
Loan_Status           1.0     0.0     1.0     1.0     1.0

### 머신러닝 변수
* label : 종속 변수 또는 정답
* feature : 독립변수 또는 속성

In [4]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [11]:
features = ['Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']
label = 'Loan_Status'
X,y = df[features], df[label] #x는 과정, y는 정답

In [12]:
X.T

,0,1,2,3,4,5,6,7,8,9,...,604,605,606,607,608,609,610,611,612,613
Gender,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
Married,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
Dependents,0.0,1.0,0.0,0.0,0.0,2.0,0.0,3.0,2.0,1.0,...,1.0,0.0,1.0,2.0,0.0,0.0,3.0,1.0,2.0,0.0
Education,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Self_Employed,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
ApplicantIncome,5849.0,4583.0,3000.0,2583.0,6000.0,5417.0,2333.0,3036.0,4006.0,12841.0,...,12000.0,2400.0,3400.0,3987.0,3232.0,2900.0,4106.0,8072.0,7583.0,4583.0
CoapplicantIncome,0.0,1508.0,0.0,2358.0,0.0,4196.0,1516.0,2504.0,1526.0,10968.0,...,0.0,3800.0,2500.0,1411.0,1950.0,0.0,0.0,240.0,0.0,0.0
LoanAmount,128.0,128.0,66.0,120.0,141.0,267.0,95.0,158.0,168.0,349.0,...,496.0,173.0,173.0,157.0,108.0,71.0,40.0,253.0,187.0,133.0
Loan_Amount_Term,360.0,360.0,360.0,360.0,360.0,360.0,360.0,360.0,360.0,360.0,...,360.0,180.0,360.0,360.0,360.0,360.0,180.0,360.0,360.0,360.0
Credit_History,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
Property_Area,2.0,0.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,...,1.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,2.0,1.0

In [13]:
df.shape

(614, 13)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = \
train_test_split(X,y, test_size=0.2)#확인용 테스트는 20% , 트레인에 80%

In [15]:
X_train.shape, X_test.shape

((491, 11), (123, 11))

In [16]:
y_train.shape, y_test.shape

((491,), (123,))

### 모델 생성 및 학습
* 모델 생성 : 변수 = DecisionTreeClassifier()
* 학습 : 변수.fit(X_train, y_train)
    - 문제와 정답을 알고리즘에 학습
* 예측 : 변수.predict(X_test)
    - 확인용 문제를 predict에 넣으면 정답을 알려준다

In [18]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier() #모델 생성
dtc.fit(X_train, y_train)# 학습

DecisionTreeClassifier()

In [19]:
pred = dtc.predict(X_test) #예측된 결과'pred'
pred #예측된 정답

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1], dtype=int64)

In [20]:
X_test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
513,1,1,0,0,0,2130,6666.0,70.0,180.0,1.0,1
404,0,0,0,0,1,7441,0.0,194.0,360.0,1.0,0
136,0,1,0,0,0,4583,0.0,84.0,360.0,1.0,0
426,0,0,1,1,0,4606,0.0,81.0,360.0,1.0,0
152,1,0,0,0,0,9166,0.0,244.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
392,1,1,0,0,0,2583,2115.0,120.0,360.0,1.0,2
355,0,0,0,0,0,3813,0.0,116.0,180.0,1.0,2
171,1,1,3,0,0,51763,0.0,700.0,300.0,1.0,2
252,1,0,0,1,1,2583,2167.0,104.0,360.0,1.0,0
65,1,1,0,0,0,5726,4595.0,258.0,360.0,1.0,1

In [21]:
y_test

513    0
404    0
136    0
426    0
152    0
      ..
392    1
355    1
171    1
252    1
65     0
Name: Loan_Status, Length: 123, dtype: int64

In [22]:
from sklearn.metrics import accuracy_score #정확도를 ㅂ여줌.

In [23]:
accuracy_score(y_test, pred) #얼마나 일치하냐.

0.6666666666666666

In [24]:
df_test = pd.read_csv('data/loan_test_cleaning.csv')
df_test.head().T

                        0       1       2       3       4
Loan_ID               0.0     1.0     2.0     3.0     4.0
Gender                1.0     1.0     1.0     1.0     1.0
Married               1.0     1.0     1.0     1.0     0.0
Dependents            0.0     1.0     2.0     2.0     0.0
Education             0.0     0.0     0.0     0.0     1.0
Self_Employed         0.0     0.0     0.0     0.0     0.0
ApplicantIncome    5720.0  3076.0  5000.0  2340.0  3276.0
CoapplicantIncome     0.0  1500.0  1800.0  2546.0     0.0
LoanAmount          110.0   126.0   208.0   100.0    78.0
Loan_Amount_Term    360.0   360.0   360.0   360.0   360.0
Credit_History        1.0     1.0     1.0     1.0     1.0
Property_Area         2.0     2.0     2.0     2.0     2.0

In [25]:
df_test.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [27]:
f=['Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']
X_test = df_test[f]
X_test.T

,0,1,2,3,4,5,6,7,8,9,...,357,358,359,360,361,362,363,364,365,366
Gender,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
Married,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
Dependents,0.0,1.0,2.0,2.0,0.0,0.0,1.0,2.0,2.0,0.0,...,0.0,2.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0
Education,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Self_Employed,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
ApplicantIncome,5720.0,3076.0,5000.0,2340.0,3276.0,2165.0,2226.0,3881.0,13633.0,2400.0,...,2500.0,3132.0,4000.0,8550.0,2269.0,4009.0,4158.0,3250.0,5000.0,9200.0
CoapplicantIncome,0.0,1500.0,1800.0,2546.0,0.0,3422.0,0.0,0.0,0.0,2400.0,...,0.0,0.0,2667.0,4255.0,2167.0,1777.0,709.0,1993.0,2393.0,0.0
LoanAmount,110.0,126.0,208.0,100.0,78.0,152.0,59.0,147.0,280.0,123.0,...,60.0,76.0,152.0,96.0,99.0,113.0,115.0,126.0,158.0,98.0
Loan_Amount_Term,360.0,360.0,360.0,360.0,360.0,360.0,360.0,360.0,240.0,360.0,...,360.0,360.0,360.0,360.0,360.0,360.0,360.0,360.0,360.0,180.0
Credit_History,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
Property_Area,2.0,2.0,2.0,2.0,2.0,2.0,1.0,0.0,2.0,1.0,...,2.0,0.0,1.0,2.0,1.0,2.0,2.0,1.0,0.0,0.0

In [28]:
pred = dtc.predict(X_test)
pred

array([1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1], dtype=int64)

In [29]:
df_test['Loan_Status']=pred

In [30]:
df_test.head().T

                        0       1       2       3       4
Loan_ID               0.0     1.0     2.0     3.0     4.0
Gender                1.0     1.0     1.0     1.0     1.0
Married               1.0     1.0     1.0     1.0     0.0
Dependents            0.0     1.0     2.0     2.0     0.0
Education             0.0     0.0     0.0     0.0     1.0
Self_Employed         0.0     0.0     0.0     0.0     0.0
ApplicantIncome    5720.0  3076.0  5000.0  2340.0  3276.0
CoapplicantIncome     0.0  1500.0  1800.0  2546.0     0.0
LoanAmount          110.0   126.0   208.0   100.0    78.0
Loan_Amount_Term    360.0   360.0   360.0   360.0   360.0
Credit_History        1.0     1.0     1.0     1.0     1.0
Property_Area         2.0     2.0     2.0     2.0     2.0
Loan_Status           1.0     1.0     1.0     1.0     0.0

In [32]:
df_test.loc[0]

Loan_ID                 0.0
Gender                  1.0
Married                 1.0
Dependents              0.0
Education               0.0
Self_Employed           0.0
ApplicantIncome      5720.0
CoapplicantIncome       0.0
LoanAmount            110.0
Loan_Amount_Term      360.0
Credit_History          1.0
Property_Area           2.0
Loan_Status             1.0
Name: 0, dtype: float64

In [35]:
user = [[1.0,1.0,0.0,0.0, 0.0,5720.0,0.0,110.0,360.0,1.0,2.0]] #2차원으로 해주어야 함.괄호 2개

In [37]:
dtc.predict(user)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [38]:
dtc.predict(user)[0]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

1

if dtc.predict(user)[0] ==0:
    print("아쉽지만 불가합니다.");
else :
    print("대출 가능");